<template>
    <style>
        :host {
            display: block;
        }
        h1 {
            font-size: 13px;
            color: red;
        }

        button {
            color: var(--font-color);
            outline: none;
            border: 2px solid #FFF;
            padding: 15px 30px;
            border-radius: 2px;
            background-color: transparent;
            transition: all 200ms ease-in-out;
        }
        button:hover {
            cursor: pointer;
            border: 2px solid var(--primary);
        }
        button:active {
            transform: scale(1.1);
        }

        input {
            color: var(--font-color);
            outline: none;
            padding: 15px 30px;
            border: none;
            border: 2px solid #FFF;
            transition: all 300ms ease-in-out;
        }

    </style>
    <div>
        <input placeholder="Enter a city..." />
        <button>Add</button>
    </div>
</template>