* {
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 13px;
  color: #34495e;
}

body {
  background-color: #ecf0f1;
  height: 100vh;
  margin: 0;
  padding: 0;
}

:root {
  --primary: rgba(52, 152, 219, 1);
  --primary-light: rgba(52, 152, 219, 0.5);
  --danger: #e74c3c;
  --info: #16a085;
  --silver: #bdc3c7;
  --clouds: #ecf0f1;
  --font-color: #34495e;
  --alert-success: rgba(46, 204, 113, 0.7);
  --alert-warning: rgba(230, 126, 34, 0.7);
  --alert-danger: rgba(231, 76, 60, 0.7);
  --alert-info: rgba(52, 152, 219, 0.7);
}

#weather-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "tiles forecast";
}

#tiles {
  grid-area: tiles;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

#forecast {
  grid-area: forecast;
}

#weather-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 60px;
  background-color: #fff;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

button {
  border: var(--clouds);
  background-color: #fff;
  padding: 1rem 2rem;
  font-weight: 200;
  transition: all 200ms ease-in-out;
  border: 1px solid var(--clouds);

  &:hover {
    cursor: pointer;
    background-color: var(--clouds);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 15px 0;
  }
  &[is="close-button"] {
    border: none;
  }
}

#alert-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
}
