@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");

:root {
  --primary-font-color: rgb(52, 73, 94);
  --sceondary-font-color: rgb(127, 140, 141);

  --background-color: rgba(236, 240, 241, 0.5);
  --border-color: rgba(189, 195, 199, 0.6);
  --readonly-background: rgba(236, 240, 241, 1);

  --primary: rgb(52, 152, 219);
  --primary-dark: rgb(41, 128, 185);
  --primary-light: rgba(52, 152, 219, 0.5);
  --primary-extra-light: rgba(52, 152, 219, 0.3);

  --danger: rgb(231, 76, 60);
  --danger-dark: rgb(192, 57, 43);
  --danger-light: rgba(231, 76, 60, 0.8);
  --danger-extra-light: rgba(231, 76, 60, 0.7);
}

* {
  font-family: "Montserrat";
  font-size: 13px;
  color: var(--primary-font-color);
}

body {
  background-color: var(--background-color);
  padding: 2rem;
}

select {
  border: 1px solid var(--border-color);
  border-radius: 1px;
  padding: 0.5rem;
  margin-right: 1rem;
  transition: all 300ms ease-in-out;
}

select {
  box-shadow: 2px 2px 10px var(--primary-extra-light);
}

select:focus,
select:active {
  outline: none;
  border: 1px solid transparent;
}

select:focus,
select:active {
  border: 1px solid var(--primary-light);
  box-shadow: 2px 2px 10px var(--primary-extra-light);
}

label {
  font-weight: 600;
  margin-bottom: 2px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

.row {
  display: flex;
  position: relative;
}

.col-12 {
  width: calc(12 / 12 * 100%);
}
.col-11 {
  width: calc(11 / 12 * 100%);
}
.col-10 {
  width: calc(10 / 12 * 100%);
}
.col-9 {
  width: calc(9 / 12 * 100%);
}
.col-8 {
  width: calc(8 / 12 * 100%);
}
.col-7 {
  width: calc(7 / 12 * 100%);
}
.col-6 {
  width: calc(6 / 12 * 100%);
}
.col-5 {
  width: calc(5 / 12 * 100%);
}
.col-4 {
  width: calc(4 / 12 * 100%);
}
.col-3 {
  width: calc(3 / 12 * 100%);
}
.col-2 {
  width: calc(2 / 12 * 100%);
}
.col-1 {
  width: calc(1 / 12 * 100%);
}

.w-100 {
  width: 100%;
}

.mt-2 {
  margin-top: 2em;
}

.mb-1 {
  margin-bottom: 0.5em;
}

.wrapper {
  position: relative;
  width: 100%;
}

.samples__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
}

.tracks__wrapper {
  margin-top: 30px;
}

hr {
  border: none;
  background-color: rgba(189, 195, 199, 0.3);
  height: 1px;
}

.hidden {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.menu {
  grid-column: 1;
}

.app {
  grid-column: 2;
}
