<template>
    <style>
        :host{
            display: inline-block;
            margin: 5px;
            position: relative;
        }
        input {
            border: none;
            border-bottom: 1px solid var(--clouds);
            padding: 1rem 2rem;
            background-color: #FFF;
            color: var(--font-color);
            transition: all 300ms ease-in-out;
        }
        input:active,
        input:focus {
            outline: none;
            border-bottom: 1px solid var(--primary-light);
        }
        input::placeholder {
            color: var(--silver)
        }
        .items-container.open {
            opacity: 1;
            transform: scaleY(1);
        }
        .items-container {
            opacity: 0;
            transform: scaleY(0);
            transform-origin: top left;
            width: 100%;
            position: absolute;
            left: 0;
            top: 42px;
            background: #FFF;
            box-shadow: 5px 4px 15px RGBA(0 0 0 / 10%);
            transition: all 200ms ease-in-out;
            z-index: 9;
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            max-height: 70vh;
            overflow-y: auto;
            overflow-x: hidden;
        }
        ul li {
            padding: 5px 2rem;            
            overflow-x: hidden;
            transition: all  200ms ease;
        }
        ul li:hover {
            cursor: pointer;
            transform: translateX(20px);
            font-weight: bold;
        }
    </style>
    <input  data-bind="placeholder: placeholder | value: value" />
    <div class="items-container" data-bind="open: open">
        <ul data-bind="for: {<li>{autocompleteItems}</li>}">
        </ul>
    </div>
</template>