:root {
  --primary: #4eaefe;
  --primary-light: #74b9ff;
  --danger: #d63031;
  --danger-light: #ff7675;
  --warning: #fdcb6e;
  --info: #00cec9;
  --success: #00b894;
  --success-light: #55efc4;
  --light-gray: #dfe6e9;
  --extra-ligh-gray: rgba(0, 0, 0, 0.03);
  --gray: #b2bec3;
  --dark-gray: #636e72;

  --font-color: #2d3436;
}
