.button {
  font-size: 13px;
  background-color: transparent;
  border: 1px transparent;
  padding: 1rem 2rem;
  background-color: var(--dark-gray);
  color: #fff;
  font-family: 'Roboto';
  font-weight: 300;

  &:hover {
    cursor: pointer;
  }

  &.primary {
    background: rgb(5, 236, 254);
    background: linear-gradient(147deg, rgba(5, 236, 254, 1) 0%, rgba(77, 174, 254, 1) 100%);
  }

  &.success {
    background: rgb(85, 239, 196);
    background: linear-gradient(147deg, rgba(85, 239, 196, 1) 0%, rgba(0, 184, 148, 1) 100%);
  }

  &.danger {
    background: rgb(255, 234, 167);
    background: linear-gradient(147deg, rgba(255, 234, 167, 1) 0%, rgba(253, 203, 110, 1) 59%);
  }
}

a.button {
  font-size: 13px;
  text-decoration: none;
}
